*{
    overflow: hidden;
}

body {
    background-image: url("../assets/salle.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);
}

.énoncé{
    color: whitesmoke;
    padding-top: 20px;
}

.launchbutton{
    margin-top : 50px;
}

#time{
  color: whitesmoke;
  font-size:30px;
  text-align:center;
}

.challenge{
    width: 300px;
}

p{
    color: white;
    font-size: 23px;
    padding-top: 6px;
}

.result-input{
    width: 80px;
}
.mort{
    visibility: hidden;
    width: 60px;
}
.txtPendu{
    color: whitesmoke;
    padding-top: 40px;
}
#suivant{
    display: none;
}
#perdu{
    display: none;
}
#WebVisiteYnov
{
    display: block;
}

.texte_egnime_3{
    color: whitesmoke;
    font-size:16px;
    text-align:center;
}